<%- include('partials/header'); -%>

<body>
  <div
    class="container-fluid"
    style="background-image: url('/bg.jpeg'); height: 400px; text-align: center"
  >
    <!-- <p class="fs-1"><span>Unbox,</span><span>Uncork,<span>Enjoy.</span></span></p> -->
    <p>
      <br /><br /><br />
      <span
        style="
          font-family: brown-bold;
          color: rgb(252, 252, 249);
          font-size: 64px;
          font-style: normal;
        "
        >Start Your Preparations</span
      >
    </p>
    <div class="badge bg-info text-wrap">
      <p>
        <span
          style="
            font-family: brown-bold;
            color: rgb(48, 48, 38);
            font-size: 20px;
            font-style: normal;
          "
          >Discover why we're the Internet's #1 destination to Start your
          preparations</span
        >
      </p>
    </div>
    <br /><br /><br />
    <div>
      <a
        class="btn btn-danger rounded-pill"
        style="width: 200px"
        href="/donatable"
        >View Articles
      </a>
    </div>
  </div>

  <div class="row products m-5" style="text-align: center">
    <div class="col-lg-4">
      <img
        src="/features2.jpeg"
        class="rounded-circle"
        alt=""
        width="304"
        height="236"
      />

      <h2 style="color: rgb(212, 75, 21)">Data Structures</h2>
      <h2 style="color: rgb(212, 75, 21)">& Algorithms</h2>
      <p>Daily Problems Available</p>
    </div>
    <div class="col-lg-4">
      <img
        src="/features1.jpeg"
        class="rounded-circle"
        alt=""
        width="304"
        height="236"
      />

      <h2 style="color: rgb(212, 75, 21)">Curated Just</h2>
      <h2 style="color: rgb(212, 75, 21)">For You</h2>
      <p>Personal recommendations based on activity</p>
    </div>
    <div class="col-lg-4">
      <img
        src="/features3.jpeg"
        class="rounded-circle"
        alt=""
        width="304"
        height="236"
      />

      <h2 style="color: rgb(212, 75, 21)">Learn Daily And</h2>
      <h2 style="color: rgb(212, 75, 21)">Contribute</h2>
      <p>You can also post your Articles and Problems</p>
    </div>
    <br /><br />

    <!-- <div>
      <a
        class="btn btn-danger rounded-pill"
        style="width: 200px"
        href="/donatable"
        >View Articles</a
      >
    </div> -->
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"
  ></script>

  <%- include('partials/footer'); -%>
</body>
